<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  
  <nav  class="navbar navbar-expand-md navbar-light bg-light justify-content-between" >
  <span class="navbar-brand">Private Events</span>
    <% if current_user %>
      <%= link_to 'Home', events_path, class: "nav-item nav-link text-decoration-none" %>      
      <%= link_to "My Events", current_user, class: "nav-item nav-link text-decoration-none" %>     
      <%= link_to 'Create Event', new_event_path, class: "nav-item nav-link text-decoration-none" %>
      <%= link_to 'Profile', users_path, class: "nav-item nav-link text-decoration-none" %>
      <%= current_user.email %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger"  %> 
    <% else %>
    <div>
      <%= link_to 'Sign In', new_user_session_path, method: :get, class: "btn btn-info mr-2" %>
      <%= link_to 'Sign Up', new_user_registration_path, method: :get, class: "btn btn-primary mr-2" %>
    <% end %>
  </div>
  </nav>
  
  <body>
    <% if flash[:alert] %>
      <%= alert %>
    <%end%>
    <%= yield %>

  
  </body>
</html>
